-if @materia.errors.any?
  :plain
    $('#resultado').html("#{escape_javascript( render 'new')}")
-else
  :plain
    $('#alumnos').html("#{escape_javascript( render 'maestras/lista_materias')}")
    $('#resultado').html("");
    $('#buscar').val("");